*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

body{
    background: rgb(183, 228, 228);
}

.calculator{
    border: 2px solid black;
    display:grid;
    justify-content:center;
    align-content:center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator button:hover{
    background-color: rgba(255, 255, 255, 0.596);
}

.span2{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around; 
    word-wrap: break-word;
    word-break: break-all;   
}

.previous{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.current{
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}